/*global palette
    c3dac7 - mint cream
    9ac2c9 - light blue
    627e93- slate gray
    ffffff - white
*/



html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*bg color*/
.bg-color-mint-cream {
    background-color: #c3dac7;
}

.centered-table {
    margin: auto;
    position: center;
    max-height: 80vh;
    max-width: 100%;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.search 
{
    margin-bottom:auto
}

.section-spacing {
    margin-bottom: 20px;
}

